name: GitHub Actions Demo

on: 
  push:
    branches: [main]
    paths-ignore: [.github/**]
  pull_request:
    branches: [main]
  schedule:
    - cron: '15 6 * * 0'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Initial Log
        run: |
         echo "The job was triggered by event: ${{ github.event_name }}, and the name of your branch is ${{ github.ref }}"
      
      - uses: actions/checkout@v3.3.0

      - name: list
        run: |
          echo "The repository ${{ github.repository }} contains the following files:"
          tree
